---
import AstroIconGithub from '../../icons/AstroIconGithub.astro';
import AstroIconTypescript from '../../icons/AstroIconTypeScript.astro'
import AstroIconNpm from '../../icons/AstroIconNpm.astro'
import guideList from '../../data/guideList'
---

<div class="guide-list">
  {
    Object.keys(guideList).map((guideKey) => (
      <div class="guide-item">
        <p class="main-title">{guideList[guideKey]?.title}</p>
        <div class="sorted-list">
          {guideList[guideKey]?.list.map((item) => (
            <div class="sorted-item-wrap">
              <div class="sorted-item">
                <a href="/guide/micro-main" class="title">
                  {item.title}
                </a>
                <p class="description">{item.description}</p>
                <p class="tags">
                  {item.tags.map((tag) => (
                    <span class={`tag tag-${tag.type}`}>{tag.name}</span>
                  ))}
                </p>
                <div class="link-footer">
                  {item.github && (
                    <a href={item.github} target="_blank">
                      <AstroIconGithub className="icon icon-github" />
                    </a>
                  )}
                  {item.npm && (
                    <a href={item.npm} target="_blank">
                      <AstroIconNpm className="icon icon-npm" />
                    </a>
                  )}
                  {item.typescript && (
                    <span>
                      <AstroIconTypescript className="icon icon-typescript" />
                    </span>
                  )}
                </div>
              </div>
            </div>
          ))}
        </div>
      </div>
    ))
  }
</div>

<style>
  .sorted-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -6px;
  }
  .main-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .sorted-item-wrap {
    width: 50%;
    padding: 0 6px;
    border-radius: 4px;
    margin-bottom: 12px;
  }
  .sorted-item {
    padding: 12px;
    border: 1px solid var(--astro-c-divider-light);
  }
  .sorted-item .title {
    color: var(--astro-c-brand);
    transition: all 0.25s;
  }
  .sorted-item .title:hover {
    opacity: 0.6;
  }
  .sorted-item .description {
    color: var(--astro-c-text-2);
    font-size: 14px;
  }
  .sorted-item .tags .tag {
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 3px;
    color: var(--astro-c-text-inverse-1);
  }
  .tag-template {
    background-color: var(--astro-c-green);
  }
  .tag-config {
    background-color: var(--astro-c-blue);
  }
  .link-footer {
    margin-top: 10px;
  }
  .link-footer a, span {
    margin-right: 5px;
  }
  .link-footer .icon {
    width: 16px;
    line-height: 1;
    fill: currentColor;
  }
</style>
